@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body {
  background: #f5f3f3;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  color: #fff;
  font-family: orbitron, sans-serif;
  text-shadow: 0 0 5px rgb(255, 0, 242), 0 0 10px rgb(255, 0, 242),
    0 0 15px rgb(255, 0, 242), 0 0 20px rgb(255, 0, 242),
    0 0 25px rgb(255, 0, 242), 0 0 40px rgb(255, 0, 242),
    0 0 50px rgb(255, 0, 242), 0 0 60px rgb(246, 255, 164);
}


.contenedor {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}